.ReacrtPlayer{
    max-width: 100%;
    height: auto;
}
.playerContainer{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height:"360px";
    /* height: 400px; */
}
.page-userVideo {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
}
.page-userVideo .moreVideos{
    height : calc(100vh - 300px);
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    padding:4px;
}
.page-userVideo .vdoCard{
    width: 100%;
    max-width: 500px;
    border : 1px solid rgba(128, 128, 128, 0.726);
    margin : 5px 0;
    padding: 0px;
    border-radius: 11px;
    display: flex;
    height: 100px;
    overflow: hidden;
    font-size: 13px;
}
.page-userVideo .vdoCard .imgdiv{
    max-width: 100px;
}
.page-userVideo .vdoCard img{
    max-width: 100px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.page-userVideo .vdocardtext{
    padding:5px 5px ;
    font-size: 13px;
}
.page-userVideo .vdocardtext h4{
    text-transform: capitalize;
}