.card{
    box-shadow: 1px 1px 5px grey;
    margin: 5px 0;
    padding: 0 20px;
    font-size: 13px;
}
.mp-btn-m {
    /* width: 100%; */
    margin: 3px 10px;
    border: none;
    outline: none;
    font-size: 12px;
    color: aliceblue;
    padding: 2px 20px 4px 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(82, 82, 82, 0.253);
    background-color: var(--bg-blue-mid);
  }
  .btn-container{
    display: flex;
    /* justify-content: space-evenly; */
  }